/*
HDRUK Gateway API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gatewayapisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SearchCollectionsAPIService SearchCollectionsAPI service
type SearchCollectionsAPIService service

type ApiSearchCollectionsRequest struct {
	ctx context.Context
	ApiService *SearchCollectionsAPIService
	searchCollectionsRequest *SearchCollectionsRequest
	sort *string
	direction *string
}

// Submit search query
func (r ApiSearchCollectionsRequest) SearchCollectionsRequest(searchCollectionsRequest SearchCollectionsRequest) ApiSearchCollectionsRequest {
	r.searchCollectionsRequest = &searchCollectionsRequest
	return r
}

// Field to sort by (default: &#39;score&#39;)
func (r ApiSearchCollectionsRequest) Sort(sort string) ApiSearchCollectionsRequest {
	r.sort = &sort
	return r
}

// Sort direction (&#39;asc&#39; or &#39;desc&#39;, default: &#39;desc&#39;)
func (r ApiSearchCollectionsRequest) Direction(direction string) ApiSearchCollectionsRequest {
	r.direction = &direction
	return r
}

func (r ApiSearchCollectionsRequest) Execute() (*SearchCollections200Response, *http.Response, error) {
	return r.ApiService.SearchCollectionsExecute(r)
}

/*
SearchCollections Search@collections

Returns gateway collections related to the provided query term(s)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchCollectionsRequest
*/
func (a *SearchCollectionsAPIService) SearchCollections(ctx context.Context) ApiSearchCollectionsRequest {
	return ApiSearchCollectionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchCollections200Response
func (a *SearchCollectionsAPIService) SearchCollectionsExecute(r ApiSearchCollectionsRequest) (*SearchCollections200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchCollections200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchCollectionsAPIService.SearchCollections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/collections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchCollectionsRequest == nil {
		return localVarReturnValue, nil, reportError("searchCollectionsRequest is required and must be specified")
	}

	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchCollectionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
