/*
HDRUK Gateway API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gatewayapisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DataAccessTemplatesAPIService DataAccessTemplatesAPI service
type DataAccessTemplatesAPIService service

type ApiDarTemplateCountUniqueFieldsRequest struct {
	ctx context.Context
	ApiService *DataAccessTemplatesAPIService
	field string
}

func (r ApiDarTemplateCountUniqueFieldsRequest) Execute() (*CountUniqueFieldsCollections200Response, *http.Response, error) {
	return r.ApiService.DarTemplateCountUniqueFieldsExecute(r)
}

/*
DarTemplateCountUniqueFields DataAccessTemplateController@count

Get Counts for distinct entries of a field in the model

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param field name of the field to perform a count on
 @return ApiDarTemplateCountUniqueFieldsRequest
*/
func (a *DataAccessTemplatesAPIService) DarTemplateCountUniqueFields(ctx context.Context, field string) ApiDarTemplateCountUniqueFieldsRequest {
	return ApiDarTemplateCountUniqueFieldsRequest{
		ApiService: a,
		ctx: ctx,
		field: field,
	}
}

// Execute executes the request
//  @return CountUniqueFieldsCollections200Response
func (a *DataAccessTemplatesAPIService) DarTemplateCountUniqueFieldsExecute(r ApiDarTemplateCountUniqueFieldsRequest) (*CountUniqueFieldsCollections200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountUniqueFieldsCollections200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataAccessTemplatesAPIService.DarTemplateCountUniqueFields")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/dar/templates/count/{field}"
	localVarPath = strings.Replace(localVarPath, "{"+"field"+"}", url.PathEscape(parameterValueToString(r.field, "field")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
