/*
HDRUK Gateway API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gatewayapisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SearchDataUsesAPIService SearchDataUsesAPI service
type SearchDataUsesAPIService service

type ApiSearchDataUsesRequest struct {
	ctx context.Context
	ApiService *SearchDataUsesAPIService
	searchDataUsesRequest *SearchDataUsesRequest
	sort *string
	direction *string
	download *bool
}

// Submit search query
func (r ApiSearchDataUsesRequest) SearchDataUsesRequest(searchDataUsesRequest SearchDataUsesRequest) ApiSearchDataUsesRequest {
	r.searchDataUsesRequest = &searchDataUsesRequest
	return r
}

// Field to sort by (default: &#39;score&#39;)
func (r ApiSearchDataUsesRequest) Sort(sort string) ApiSearchDataUsesRequest {
	r.sort = &sort
	return r
}

// Sort direction (&#39;asc&#39; or &#39;desc&#39;, default: &#39;desc&#39;)
func (r ApiSearchDataUsesRequest) Direction(direction string) ApiSearchDataUsesRequest {
	r.direction = &direction
	return r
}

// Download a csv of the results (default: false)
func (r ApiSearchDataUsesRequest) Download(download bool) ApiSearchDataUsesRequest {
	r.download = &download
	return r
}

func (r ApiSearchDataUsesRequest) Execute() (*SearchDataUses200Response, *http.Response, error) {
	return r.ApiService.SearchDataUsesExecute(r)
}

/*
SearchDataUses Search@data_uses

Returns gateway data uses related to the provided query term(s)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchDataUsesRequest
*/
func (a *SearchDataUsesAPIService) SearchDataUses(ctx context.Context) ApiSearchDataUsesRequest {
	return ApiSearchDataUsesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchDataUses200Response
func (a *SearchDataUsesAPIService) SearchDataUsesExecute(r ApiSearchDataUsesRequest) (*SearchDataUses200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchDataUses200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchDataUsesAPIService.SearchDataUses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/dur"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchDataUsesRequest == nil {
		return localVarReturnValue, nil, reportError("searchDataUsesRequest is required and must be specified")
	}

	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	if r.download != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "download", r.download, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchDataUsesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
