/*
HDRUK Gateway API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gatewayapisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProjectGrantAPIService ProjectGrantAPI service
type ProjectGrantAPIService service

type ApiFetchAllProjectGrantsRequest struct {
	ctx context.Context
	ApiService *ProjectGrantAPIService
	pid *string
	version *int32
	projectGrantName *string
	userId *int32
	teamId *int32
	withRelated *bool
}

// Filter by dataset pid
func (r ApiFetchAllProjectGrantsRequest) Pid(pid string) ApiFetchAllProjectGrantsRequest {
	r.pid = &pid
	return r
}

// Filter by dataset version number
func (r ApiFetchAllProjectGrantsRequest) Version(version int32) ApiFetchAllProjectGrantsRequest {
	r.version = &version
	return r
}

// Filter by project grant name
func (r ApiFetchAllProjectGrantsRequest) ProjectGrantName(projectGrantName string) ApiFetchAllProjectGrantsRequest {
	r.projectGrantName = &projectGrantName
	return r
}

// Filter by owning user id
func (r ApiFetchAllProjectGrantsRequest) UserId(userId int32) ApiFetchAllProjectGrantsRequest {
	r.userId = &userId
	return r
}

// Filter by owning team id
func (r ApiFetchAllProjectGrantsRequest) TeamId(teamId int32) ApiFetchAllProjectGrantsRequest {
	r.teamId = &teamId
	return r
}

func (r ApiFetchAllProjectGrantsRequest) WithRelated(withRelated bool) ApiFetchAllProjectGrantsRequest {
	r.withRelated = &withRelated
	return r
}

func (r ApiFetchAllProjectGrantsRequest) Execute() (*FetchAllProjectGrants200Response, *http.Response, error) {
	return r.ApiService.FetchAllProjectGrantsExecute(r)
}

/*
FetchAllProjectGrants ProjectGrantController@index

Get all project grants

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFetchAllProjectGrantsRequest
*/
func (a *ProjectGrantAPIService) FetchAllProjectGrants(ctx context.Context) ApiFetchAllProjectGrantsRequest {
	return ApiFetchAllProjectGrantsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FetchAllProjectGrants200Response
func (a *ProjectGrantAPIService) FetchAllProjectGrantsExecute(r ApiFetchAllProjectGrantsRequest) (*FetchAllProjectGrants200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FetchAllProjectGrants200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectGrantAPIService.FetchAllProjectGrants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/project_grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pid", r.pid, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.projectGrantName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectGrantName", r.projectGrantName, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "team_id", r.teamId, "form", "")
	}
	if r.withRelated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_related", r.withRelated, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFetchProjectGrantRequest struct {
	ctx context.Context
	ApiService *ProjectGrantAPIService
	id int32
	withRelated *bool
}

func (r ApiFetchProjectGrantRequest) WithRelated(withRelated bool) ApiFetchProjectGrantRequest {
	r.withRelated = &withRelated
	return r
}

func (r ApiFetchProjectGrantRequest) Execute() (*CountUniqueFieldsCollections200Response, *http.Response, error) {
	return r.ApiService.FetchProjectGrantExecute(r)
}

/*
FetchProjectGrant ProjectGrantController@show

Get a single project grant

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFetchProjectGrantRequest
*/
func (a *ProjectGrantAPIService) FetchProjectGrant(ctx context.Context, id int32) ApiFetchProjectGrantRequest {
	return ApiFetchProjectGrantRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CountUniqueFieldsCollections200Response
func (a *ProjectGrantAPIService) FetchProjectGrantExecute(r ApiFetchProjectGrantRequest) (*CountUniqueFieldsCollections200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountUniqueFieldsCollections200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectGrantAPIService.FetchProjectGrant")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/project_grants/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.withRelated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_related", r.withRelated, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
