/*
HDRUK Gateway API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gatewayapisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SearchToolsAPIService SearchToolsAPI service
type SearchToolsAPIService service

type ApiSearchToolsRequest struct {
	ctx context.Context
	ApiService *SearchToolsAPIService
	searchToolsRequest *SearchToolsRequest
	sort *string
	direction *string
}

// Submit search query
func (r ApiSearchToolsRequest) SearchToolsRequest(searchToolsRequest SearchToolsRequest) ApiSearchToolsRequest {
	r.searchToolsRequest = &searchToolsRequest
	return r
}

// Field to sort by (default: &#39;score&#39;)
func (r ApiSearchToolsRequest) Sort(sort string) ApiSearchToolsRequest {
	r.sort = &sort
	return r
}

// Sort direction (&#39;asc&#39; or &#39;desc&#39;, default: &#39;desc&#39;)
func (r ApiSearchToolsRequest) Direction(direction string) ApiSearchToolsRequest {
	r.direction = &direction
	return r
}

func (r ApiSearchToolsRequest) Execute() (*SearchTools200Response, *http.Response, error) {
	return r.ApiService.SearchToolsExecute(r)
}

/*
SearchTools Search@tools

Returns gateway tools related to the provided query term(s)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchToolsRequest
*/
func (a *SearchToolsAPIService) SearchTools(ctx context.Context) ApiSearchToolsRequest {
	return ApiSearchToolsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchTools200Response
func (a *SearchToolsAPIService) SearchToolsExecute(r ApiSearchToolsRequest) (*SearchTools200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchTools200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchToolsAPIService.SearchTools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/tools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchToolsRequest == nil {
		return localVarReturnValue, nil, reportError("searchToolsRequest is required and must be specified")
	}

	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchToolsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
