/*
HDRUK Gateway API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gatewayapisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SearchSimilarDatasetsAPIService SearchSimilarDatasetsAPI service
type SearchSimilarDatasetsAPIService service

type ApiSearchSimilarDatasetsRequest struct {
	ctx context.Context
	ApiService *SearchSimilarDatasetsAPIService
	searchSimilarDatasetsRequest *SearchSimilarDatasetsRequest
}

// Submit dataset id
func (r ApiSearchSimilarDatasetsRequest) SearchSimilarDatasetsRequest(searchSimilarDatasetsRequest SearchSimilarDatasetsRequest) ApiSearchSimilarDatasetsRequest {
	r.searchSimilarDatasetsRequest = &searchSimilarDatasetsRequest
	return r
}

func (r ApiSearchSimilarDatasetsRequest) Execute() (*SearchSimilarDatasets200Response, *http.Response, error) {
	return r.ApiService.SearchSimilarDatasetsExecute(r)
}

/*
SearchSimilarDatasets Search@similarDatasets

Returns top three gateway datasets most similar to the provided dataset

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchSimilarDatasetsRequest
*/
func (a *SearchSimilarDatasetsAPIService) SearchSimilarDatasets(ctx context.Context) ApiSearchSimilarDatasetsRequest {
	return ApiSearchSimilarDatasetsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchSimilarDatasets200Response
func (a *SearchSimilarDatasetsAPIService) SearchSimilarDatasetsExecute(r ApiSearchSimilarDatasetsRequest) (*SearchSimilarDatasets200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchSimilarDatasets200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchSimilarDatasetsAPIService.SearchSimilarDatasets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/similar/datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchSimilarDatasetsRequest == nil {
		return localVarReturnValue, nil, reportError("searchSimilarDatasetsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchSimilarDatasetsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
